:root {
    --dark-blue: #0B1426;
    --dark-light-blue: #113E59;
    --light-blue: #1F80A6;
    --cyan: #38E0F2;
    --light-cyan: #CEF2F2;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark-blue);
    color: var(--light-cyan);
  }

.container-user-area{

    border: 2px solid var(--light-blue);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    height: auto;
    max-width: 300px;
    background-color: var(--light-blue);
  }

  .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.container-user-area h2{
    text-align: center;
    color: var(--dark-blue);
  }

  .form input{
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--dark-light-blue);
  }

  .form button{
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--dark-light-blue);
    background-color: var(--dark-light-blue);
    color: var(--light-cyan);
  }

  .form button:hover{
    background-color: var(--light-blue);
    color: var(--dark-blue);
  }

  .form input[type="submit"]{
    background-color: var(--dark-light-blue);
    color: var(--light-cyan);
  }

  .form input[type="submit"]:hover{
    background-color: var(--light-blue);
    color: var(--dark-blue);
  }

  .form input[type="text"]{
    width: 100%;
  }

  .form input[type="password"]{
    width: 100%;
  }

  .form input[type="submit"]{
    width: 100%;
  }

  .form input[type="submit"]:hover{
    width: 100%;
  }

  .form input[type="button"]{
    width: 100%;
  }

  .form input[type="button"]:hover{
    width: 100%;
  }

  .form input[type="reset"]{
    width: 100%;
  }

  .form input[type="reset"]:hover{
    width: 100%;
  }

  .form input[type="file"]{
    width: 100%;
  }

  .form input[type="file"]:hover{
    width: 100%;
  }

  .form input[type="checkbox"]{
    width: 100%;
  }

  .form input[type="checkbox"]:hover{
    width: 100%;
  }

  .form input[type="radio"]{
    width: 100%;
  }

  .form input[type="radio"]:hover{
    width: 100%;
  }

  .form input[type="range"]{
    width: 100%;
  }

  .form input[type="range"]:hover{
    width: 100%;
  }

