:root {
    --dark-blue: #0B1426;
    --dark-light-blue: #113E59;
    --light-blue: #1F80A6;
    --cyan: #38E0F2;
    --light-cyan: #CEF2F2;
  }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark-blue);
    color: var(--light-cyan);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
  }

  .flex-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
  }

.container-user-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100vh;
    max-width: 300px;
    background-color: var(--light-blue);
  }


